#mainLogoServ {
  text-align: center;
}

#background {
  background-image: url('back.png'); /* путь к твоей картинке */
  background-size: cover;      /* масштабировать под размер окна */
  background-repeat:no-repeat; /* не повторять */
  background-position: center; /* центрировать */
  background-attachment: fixed; /* фон не прокручивается */
}

body {
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center;    /* Центрирование по вертикали */
        height: 100vh;          /* Высота на весь экран */
        margin: 0;
        background-color: #f5f5f5; /* (необязательно) фон для контраста */
    }

    #fileContainer {
        width: 80%;             /* ширина контейнера, можно регулировать */
        max-width: 1000px;      /* максимальная ширина */
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    thead {
        background-color: #fafafa;
    }

    /* Настройка ширины столбцов */
    th:nth-child(1), td:nth-child(1) { width: 40%; }
    th:nth-child(2), td:nth-child(2) { width: 20%; }
    th:nth-child(3), td:nth-child(3) { width: 20%; }
    th:nth-child(4), td:nth-child(4) { width: 20%; }