# Visual Studio
.vs/

# Build results
bin/
obj/
x64/
x64/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
packages/
*.nupkg

# Environment
.env


Beast.cpp